﻿@model BTT.CaravanQLD.AppPortal.Models.EditProfileModel
@using BTT.CaravanQLD.AppPortal.Helpers

@{
    ViewBag.Title = "Exhibitor Portal";
    Layout = "~/Views/Shared/_ApplicationPortalLayout.cshtml";
}

@using (Ajax.BeginForm("Edit", "Exhibitor_Profile", null, new AjaxOptions() { UpdateTargetId = "exhibitor-portal", OnSuccess = "showNotification('Your changes have been saved.', 'success')", OnFailure = "showNotification('There was a problem when we tried to send your changes to us. Please send an email to us with the changes that you have made to your profile.', 'error', 5000)" }, new { @class = "ym-form ym-columnar", id = "edit-exhibitor" }))
{
    @Html.HiddenFor(x => x.Exhibitor.Id)

    <h2>Exhibitor Profile</h2>

    <div class="ym-fbox">
        <p>This form can be used to update the details that we use to contact you. For any other changes to your application or details, you need to contact us at: <a href="mailto:@Model.EmailSettings.AdminEmailAddress">@Model.EmailSettings.AdminEmailAddress</a></p>
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.Exhibitor.ShowId)
        @Html.DisplayFor(x => x.Exhibitor.ShowId)
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.Exhibitor.TradingName)
        @Html.DisplayFor(x => x.Exhibitor.TradingName)
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.Exhibitor.ShowListingName)
        @Html.DisplayFor(x => x.Exhibitor.ShowListingName)
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.Exhibitor.AllocatedStandNumber)
        @Html.DisplayFor(x => x.Exhibitor.AllocatedStandNumber)
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.Exhibitor.SiteLocation)
        @Html.DisplayFor(x => x.Exhibitor.SiteLocation)
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.Exhibitor.Frontage)
        @Html.DisplayFor(x => x.Exhibitor.Frontage)
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.Exhibitor.Depth)
        @Html.DisplayFor(x => x.Exhibitor.Depth)
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.Exhibitor.Area)
        @Html.DisplayFor(x => x.Exhibitor.Area)
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.Exhibitor.ExhibitorPhone)
        @Html.DisplayFor(x => x.Exhibitor.ExhibitorPhone)
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.Exhibitor.ExhibitorFax)
        @Html.DisplayFor(x => x.Exhibitor.ExhibitorFax)
    </div>

    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.Exhibitor.ExhibitorEmail)
        @Html.DisplayFor(x => x.Exhibitor.ExhibitorEmail)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Title)
        @*@Html.LabelTitleizeFor(x => x.Exhibitor.Title)*@
        @Html.Label("Contact Title/Position", new { @class = "required" })
        @Html.TextBoxFor(x => x.Exhibitor.Title)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.FirstName)
        @*@Html.LabelTitleizeFor(x => x.Exhibitor.FirstName)*@
        @Html.Label("Contact First Name", new { @class = "required" })
        @Html.TextBoxFor(x => x.Exhibitor.FirstName)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Surname)
        @*@Html.LabelTitleizeFor(x => x.Exhibitor.Surname)*@
        @Html.Label("Contact Surname", new { @class = "required" })
        @Html.TextBoxFor(x => x.Exhibitor.Surname)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Mobile)
        @*@Html.LabelTitleizeFor(x => x.Exhibitor.Mobile)*@
        @Html.Label("Contact Mobile", new { @class = "required" })
        @Html.TextBoxFor(x => x.Exhibitor.Mobile)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Phone)
        @*@Html.LabelTitleizeFor(x => x.Exhibitor.Phone)*@
        @Html.Label("Contact Phone", new { @class = "required" })
        @Html.TextBoxFor(x => x.Exhibitor.Phone)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Email)
        @*@Html.LabelTitleizeFor(x => x.Exhibitor.Email)*@
        @Html.Label("Contact Email", new { @class = "required" })
        @Html.TextBoxFor(x => x.Exhibitor.Email)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.AddressLine1)
        @Html.Label("Postal - Address Line 1", new { @class = "required" })
        @Html.TextBoxFor(x => x.Exhibitor.AddressLine1)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.AddressLine2)
        @Html.Label("Postal - Address Line 2")
        @Html.TextBoxFor(x => x.Exhibitor.AddressLine2)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Suburb)
        @Html.Label("Postal - Suburb", new { @class = "required" })
        @Html.TextBoxFor(x => x.Exhibitor.Suburb)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.State)
        @Html.Label("Postal - State", new { @class = "required" })
        @Html.DropDownListFor(x => x.Exhibitor.State, Model.StateList)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Country)
        @Html.Label("Postal - Country", new { @class = "required" })
        @Html.TextBoxFor(x => x.Exhibitor.Country)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Postcode)
        @Html.Label("Postal - Postcode", new { @class = "required" })
        @Html.TextBoxFor(x => x.Exhibitor.Postcode)
    </div>

    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Save" />
    </div>
}
