﻿@model BTT.CaravanQLD.AppPortal.Models.ChangeEmailsExhibitors

<p>@Ajax.ActionLink("Back to Email", "EditEmail/" + Model.CurrentEmail.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", OnSuccess = "createCKEditorForEmails", LoadingElementId = "waiting" })</p>

<p>Click an exhibitor to add or remove them from the email.</p>

<div id="email-exhibitors-list">
    <div class="ym-grid top-row">
        <div class="ym-p-300 ym-gl">
            Exhibitors - @Ajax.ActionLink("Select All", "SelectAllExhibitors/" + Model.CurrentEmail.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", LoadingElementId = "waiting" })
            | @Ajax.ActionLink("Deselect All", "DeselectAllExhibitors/" + Model.CurrentEmail.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", LoadingElementId = "waiting" })
        </div>
        <div class="ym-p-150 ym-gl centered">
            Stand #
        </div>
        <div class="ym-p-150 ym-gl centered">
            Date Last Sent
        </div>
        <div class="ym-p-150 ym-gl centered">
            Send One Email
        </div>
    </div>

    @if (Model.Exhibitors.Count <= 0)
    {
        <div class="ym-grid no-row">There are no exhibitors.</div>
    }

    @for (int i = 0; i < Model.Exhibitors.Count; i++)
    {
        var className = i % 2 != 0 ? "alt-row" : "std-row";
        var isSelected = Model.ExhibitorApplicationEmails.FirstOrDefault(x => x.ExhibitorApplicationId == Model.Exhibitors[i].Id) != null ? "is-selected" : "is-not-selected";
        var emailLog = Model.EmailLogs.LastOrDefault(x => x.ExhibitorApplicationId == Model.Exhibitors[i].Id);
        var dateLastSent = emailLog != null ? emailLog.DateSent.ToString("dd/MM/yyyy") : "Never";
        var standNumber = String.IsNullOrEmpty(Model.Exhibitors[i].AllocatedStandNumber) ? "0" : Model.Exhibitors[i].AllocatedStandNumber;
        <div class="ym-grid @className @isSelected">
            <div class="ym-p-300 ym-gl">
                @Ajax.ActionLink(!String.IsNullOrEmpty(Model.Exhibitors[i].TradingName) ? Model.Exhibitors[i].ShowId + " - " + Model.Exhibitors[i].TradingName : (!String.IsNullOrEmpty(Model.Exhibitors[i].Email) ? Model.Exhibitors[i].Email : Model.Exhibitors[i].ExhibitorEmail) , "AddExhibitorToEmail", new { EmailId = Model.CurrentEmail.Id, ExhibitorId = Model.Exhibitors[i].Id }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails" }, new { @class = "email-link" })
            </div>
            <div class="ym-p-150 ym-gl centered">
                @standNumber
            </div>
            <div class="ym-p-150 ym-gl centered">
                <span id="@Model.Exhibitors[i].Id.ToString()">@dateLastSent</span>
            </div>
            <div class="ym-p-150 ym-gl centered">
                @Ajax.ActionLink(" ", "SendOneEmail", new { EmailId = Model.CurrentEmail.Id, ExhibitorId = Model.Exhibitors[i].Id }, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "showNotification('The email has been sent.', 'success'); updateDateLastSent('" + Model.Exhibitors[i].Id.ToString() + "');", OnFailure = "showNotification('The email failed to send. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "reminder-email" })
            </div>
        </div>
    }
</div>


