﻿@model BTT.CaravanQLD.AppPortal.Models.ChooseShowModel

@{
    ViewBag.Title = "Choose Show";
    Layout = "~/Views/Shared/_DataPortalLayout.cshtml";
}

<h2>Choose A Show</h2>

<p>Pick one of the shows from the list below to administer it.</p>

@using (Html.BeginForm("ChooseShow", "DataPortal", FormMethod.Post, new { @class = "ym-form ym-full", id = "choose-show" }))
{
    <div class="ym-fbox">
        @Html.Label("Choose a Show")
        @Html.DropDownListFor(x => x.Show, new SelectList(Model.Shows, "Id", "Name"))
    </div>

    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Save" />
    </div>
}


