﻿@model BTT.CaravanQLD.AppPortal.Models.EditFormGroupModel
@using BTT.CaravanQLD.AppPortal.Helpers

<p>
    @Ajax.ActionLink("Back to Form List", "FormList", new AjaxOptions() { UpdateTargetId = "forms", LoadingElementId = "waiting" })
</p>

@using (Ajax.BeginForm("EditFormGroup", "DataPortal", new AjaxOptions() { UpdateTargetId = "forms", OnSuccess = "showNotification('Your changes have been saved.', 'success')", LoadingElementId = "waiting" }, new { @class = "ym-form ym-columnar", id = "edit-form-group" }))
{
    @Html.HiddenFor(x => x.FormGroup.Id)
    @Html.HiddenFor(x => x.FormGroup.LinkedShowId)
        
    <h2>Form Group</h2>
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.FormGroup.Name)
        @Html.LabelTitleizeFor(x => x.FormGroup.Name)
        @Html.TextBoxFor(x => x.FormGroup.Name)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.FormGroup.Order)
        @Html.LabelTitleizeFor(x => x.FormGroup.Order)
        @Html.TextBoxFor(x => x.FormGroup.Order)
    </div>
    
    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Save" />
        <div class="float-right ym-footer-link">
            @Ajax.ActionLink("Delete Form Group", "DeleteFormGroup/" + Model.FormGroup.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", Confirm = "Do you really want to delete this form group?", OnSuccess = "showNotification('The form group has been deleted.', 'success')", OnFailure = "showNotification('The form group has not been deleted. Please try again.', 'error')", LoadingElementId = "waiting" })
        </div>
    </div>
}