﻿@model BTT.CaravanQLD.AppPortal.Models.EditStandardFormModel

<p>
    @Ajax.ActionLink("Back to Form", "EditForm/" + Model.Form.Id.ToString(), new AjaxOptions() { UpdateTargetId = "forms", OnSuccess = "setupFormForm()", LoadingElementId = "waiting" })
    | @Ajax.ActionLink("Add Form Field", "CreateFormField/" + Model.Form.Id.ToString(), new AjaxOptions() { UpdateTargetId = "edit-form-field", OnSuccess = "reloadFormFieldList()", LoadingElementId = "waiting" })
</p>

<div id="edit-form-field">
    @* This is an important div. *@
</div>

<div id="form-field-list">
    @Html.Action("FormFieldList", Model.Form.Id)
</div>