﻿@model BTT.CaravanQLD.AppPortal.Models.EditPageModel
@using BTT.CaravanQLD.AppPortal.Helpers

<p>
    @Ajax.ActionLink("Back to Page List", "PageList", new AjaxOptions() { UpdateTargetId = "pages", LoadingElementId = "waiting" })
</p>

@using (Ajax.BeginForm("EditPage", "DataPortal", new AjaxOptions() { UpdateTargetId = "pages", OnSuccess = "createCKEditorForPages();showNotification('Your changes have been saved.', 'success');", LoadingElementId = "waiting" }, new { @class = "ym-form ym-columnar", id = "edit-page" }))
{
    @Html.HiddenFor(x => x.ContentPage.Id)
    @Html.HiddenFor(x => x.ContentPage.Id)

    <h2>Edit Page</h2>
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.ContentPage.Name)
        @Html.LabelTitleizeFor(x => x.ContentPage.Name)
        @Html.TextBoxFor(x => x.ContentPage.Name)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.ContentPage.Order)
        @Html.LabelTitleizeFor(x => x.ContentPage.Order)
        @Html.TextBoxFor(x => x.ContentPage.Order)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.ContentPage.PageType)
        @Html.LabelTitleizeFor(x => x.ContentPage.PageType)
        @Html.DropDownListFor(x => x.ContentPage.PageType, Model.ContentPage.PageType.ToSelectList())
    </div>

    <div class="ym-fbox checkbox-div">
        @Html.ValidationMessageFor(x => x.ContentPage.IsCurrent)
        @Html.LabelTitleizeFor(x => x.ContentPage.IsCurrent)
        @Html.CheckBoxFor(x => x.ContentPage.IsCurrent)
    </div>
    
    <div class="ym-fbox ym-full-width-text">
        @Html.LabelTitleizeFor(x => x.ContentPage.TextContent)
    </div>

    <div class="ym-fbox ym-full-width-text">
        @Html.TextAreaFor(x => x.ContentPage.TextContent)
    </div>

    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Save" />
        <div class="float-right ym-footer-link">
            @Ajax.ActionLink("Delete Page", "DeletePage/" + Model.ContentPage.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "pages", Confirm = "Do you really want to delete this page?", OnSuccess = "showNotification('The page has been deleted.', 'success')", OnFailure = "showNotification('The page has not been deleted. Please try again.', 'error')", LoadingElementId = "waiting" })
        </div>
    </div>
}