﻿@model BTT.CaravanQLD.AppPortal.Models.EditFormModel
@using BTT.CaravanQLD.AppPortal.Helpers

<p>
    @Ajax.ActionLink("Back to Form List", "FormList", new AjaxOptions() { UpdateTargetId = "forms", LoadingElementId = "waiting" })
    | @Ajax.ActionLink("View Form Data", "ViewFormData/" + Model.Form.Id.ToString(), new AjaxOptions() { UpdateTargetId = "forms", OnSuccess = "updateFormDivWidth()", LoadingElementId = "waiting" })
    @if (Model.Form.Type == FormType.Standard)
    {
        @Html.Raw(" | ")
        @Ajax.ActionLink("Construct Form", "EditStandardForm/" + Model.Form.Id.ToString(), new AjaxOptions() { UpdateTargetId = "forms", LoadingElementId = "waiting" })
    }

</p>

@using (Ajax.BeginForm("EditForm", "DataPortal", new AjaxOptions() { UpdateTargetId = "forms", OnSuccess = "setupFormForm();showNotification('Your changes have been saved.', 'success');", LoadingElementId = "waiting" }, new { @class = "ym-form ym-columnar", id = "edit-form" }))
{
    @Html.HiddenFor(x => x.Form.Id)
    @Html.HiddenFor(x => x.Form.LinkedShowId)
        
    <h2>Edit Form</h2>
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Form.Name)
        @Html.LabelTitleizeFor(x => x.Form.Name)
        @Html.TextBoxFor(x => x.Form.Name)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Form.Order)
        @Html.LabelTitleizeFor(x => x.Form.Order)
        @Html.TextBoxFor(x => x.Form.Order)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Form.DueDate)
        @Html.LabelTitleizeFor(x => x.Form.DueDate)
        @Html.TextBoxFor(x => x.Form.DueDate, "{0:dd/MM/yyyy}", new { @class = "date-input" })
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Form.Type)
        @Html.LabelTitleizeFor(x => x.Form.Type)
        @Html.DropDownListFor(x => x.Form.Type, Model.FormTypes)
    </div>
    
    <div class="ym-fbox checkbox-div">
        @Html.ValidationMessageFor(x => x.Form.Mandatory)
        @Html.LabelTitleizeFor(x => x.Form.Mandatory)
        @Html.CheckBoxFor(x => x.Form.Mandatory)
    </div>
    
    <div class="ym-fbox checkbox-div">
        @Html.ValidationMessageFor(x => x.Form.IsCurrent)
        @Html.LabelTitleizeFor(x => x.Form.IsCurrent)
        @Html.CheckBoxFor(x => x.Form.IsCurrent)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Form.FormGroupId)
        @Html.Label("Form Group")
        @Html.DropDownListFor(x => x.Form.FormGroupId, Model.FormGroups)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Form.EmailId)
        @Html.Label("Reminder Email")
        @Html.DropDownListFor(x => x.Form.EmailId, Model.Emails)
    </div>
    
    <div class="ym-fbox">
        @Html.LabelTitleizeFor(x => x.Form.TextContent, "ym-full-width-label")
        <span>(For a standard form, this text will appear above the form itself. For a content form, this text is the only content to be viewed.)</span>
    </div>
    
    <div class="ym-fbox ym-full-width-text">
        @Html.TextAreaFor(x => x.Form.TextContent)
    </div>
    
    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Save" />
        <div class="float-right ym-footer-link">
            @Ajax.ActionLink("Delete Form", "DeleteForm/" + Model.Form.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", Confirm = "Do you really want to delete this form?", OnSuccess = "showNotification('The form has been deleted.', 'success')", OnFailure = "showNotification('The form has not been deleted. Please try again.', 'error')", LoadingElementId = "waiting" })
        </div>
    </div>
}