﻿@model BTT.CaravanQLD.AppPortal.Models.EditExhibitorModel
@using BTT.CaravanQLD.AppPortal.Helpers

<p>
    @Ajax.ActionLink("Back to Exhibitor List", "ExhibitorList", new AjaxOptions() { UpdateTargetId = "exhibitors", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting" })
    | @Ajax.ActionLink("View Logs", "LogListForExhibitor/" + Model.Exhibitor.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting" })
    | @Ajax.ActionLink("View Form Stats", "ViewExhibitorFormStats/" + Model.Exhibitor.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", LoadingElementId = "waiting" })
</p>

@using (Ajax.BeginForm("EditExhibitor", "DataPortal", new AjaxOptions() { UpdateTargetId = "exhibitors", OnSuccess = "showNotification('Your changes have been saved.', 'success')", LoadingElementId = "waiting" }, new { @class = "ym-form ym-columnar", id = "admin-edit-exhibitor" }))
{
    @Html.HiddenFor(x => x.Exhibitor.Id)
    @Html.HiddenFor(x => x.Exhibitor.LinkedShowId)
        
    <h2>Exhibitor Details</h2>
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.ShowId)
        @Html.LabelTitleizeFor(x => x.Exhibitor.ShowId)
        @Html.TextBoxFor(x => x.Exhibitor.ShowId)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.TradingName)
        @Html.LabelTitleizeFor(x => x.Exhibitor.TradingName)
        @Html.TextBoxFor(x => x.Exhibitor.TradingName)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.ShowListingName)
        @Html.LabelTitleizeFor(x => x.Exhibitor.ShowListingName)
        @Html.TextBoxFor(x => x.Exhibitor.ShowListingName)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.AllocatedStandNumber)
        @Html.LabelTitleizeFor(x => x.Exhibitor.AllocatedStandNumber)
        @Html.TextBoxFor(x => x.Exhibitor.AllocatedStandNumber)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.SiteLocation)
        @Html.LabelTitleizeFor(x => x.Exhibitor.SiteLocation)
        @Html.TextBoxFor(x => x.Exhibitor.SiteLocation)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Frontage)
        @Html.LabelTitleizeFor(x => x.Exhibitor.Frontage)
        @Html.TextBoxFor(x => x.Exhibitor.Frontage)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Depth)
        @Html.LabelTitleizeFor(x => x.Exhibitor.Depth)
        @Html.TextBoxFor(x => x.Exhibitor.Depth)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Area)
        @Html.LabelTitleizeFor(x => x.Exhibitor.Area)
        @Html.TextBoxFor(x => x.Exhibitor.Area)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.AddressLine1)
        @Html.LabelTitleizeFor(x => x.Exhibitor.AddressLine1)
        @Html.TextBoxFor(x => x.Exhibitor.AddressLine1)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.AddressLine2)
        @Html.LabelTitleizeFor(x => x.Exhibitor.AddressLine2)
        @Html.TextBoxFor(x => x.Exhibitor.AddressLine2)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Suburb)
        @Html.LabelTitleizeFor(x => x.Exhibitor.Suburb)
        @Html.TextBoxFor(x => x.Exhibitor.Suburb)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.State)
        @Html.LabelTitleizeFor(x => x.Exhibitor.State)
        @Html.DropDownListFor(x => x.Exhibitor.State, Model.StateList)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Country)
        @Html.LabelTitleizeFor(x => x.Exhibitor.Country)
        @Html.TextBoxFor(x => x.Exhibitor.Country)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Postcode)
        @Html.LabelTitleizeFor(x => x.Exhibitor.Postcode)
        @Html.TextBoxFor(x => x.Exhibitor.Postcode)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.ExhibitorPhone)
        @Html.LabelTitleizeFor(x => x.Exhibitor.ExhibitorPhone)
        @Html.TextBoxFor(x => x.Exhibitor.ExhibitorPhone)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.ExhibitorFax)
        @Html.LabelTitleizeFor(x => x.Exhibitor.ExhibitorFax)
        @Html.TextBoxFor(x => x.Exhibitor.ExhibitorFax)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.ExhibitorEmail)
        @Html.LabelTitleizeFor(x => x.Exhibitor.ExhibitorEmail)
        @Html.TextBoxFor(x => x.Exhibitor.ExhibitorEmail)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Website)
        @Html.LabelTitleizeFor(x => x.Exhibitor.Website)
        @Html.TextBoxFor(x => x.Exhibitor.Website)
    </div>
    
    <h2>Contact Person Details</h2>
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Title)
        @Html.LabelTitleizeFor(x => x.Exhibitor.Title)
        @Html.TextBoxFor(x => x.Exhibitor.Title)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.FirstName)
        @Html.LabelTitleizeFor(x => x.Exhibitor.FirstName)
        @Html.TextBoxFor(x => x.Exhibitor.FirstName)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Surname)
        @Html.LabelTitleizeFor(x => x.Exhibitor.Surname)
        @Html.TextBoxFor(x => x.Exhibitor.Surname)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Mobile)
        @Html.LabelTitleizeFor(x => x.Exhibitor.Mobile)
        @Html.TextBoxFor(x => x.Exhibitor.Mobile)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Phone)
        @Html.LabelTitleizeFor(x => x.Exhibitor.Phone)
        @Html.TextBoxFor(x => x.Exhibitor.Phone)
    </div>
    
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Email)
        @Html.LabelTitleizeFor(x => x.Exhibitor.Email)
        @Html.TextBoxFor(x => x.Exhibitor.Email)
    </div>

    <h2>Additional Details</h2>
    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.MoveInDate)
        @Html.LabelTitleizeFor(x => x.Exhibitor.MoveInDate)
        @Html.TextBoxFor(x => x.Exhibitor.MoveInDate)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.AccessTime)
        @Html.LabelTitleizeFor(x => x.Exhibitor.AccessTime)
        @Html.TextBoxFor(x => x.Exhibitor.AccessTime)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.AccessGate)
        @Html.LabelTitleizeFor(x => x.Exhibitor.AccessGate)
        @Html.TextBoxFor(x => x.Exhibitor.AccessGate)
    </div>

    <div class="ym-fbox">
        @Html.ValidationMessageFor(x => x.Exhibitor.Notes)
        @Html.LabelTitleizeFor(x => x.Exhibitor.Notes)
        @Html.TextAreaFor(x => x.Exhibitor.Notes)
    </div>

    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Save" />
        <div class="float-right ym-footer-link">
            @Ajax.ActionLink("Delete Exhibitor", "DeleteExhibitor/" + Model.Exhibitor.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", Confirm = "Do you really want to delete this exhibitor?", OnSuccess = "showNotification('The exhibitor has been deleted.', 'success')", OnFailure = "showNotification('The exhibitor has not been deleted. Please try again.', 'error')", LoadingElementId = "waiting" })
        </div>
    </div>
}