﻿@model BTT.CaravanQLD.AppPortal.Models.EditFormFieldModel
@using BTT.CaravanQLD.Model
@using BTT.CaravanQLD.AppPortal.Helpers

@using (Ajax.BeginForm("EditFormField", "DataPortal", new AjaxOptions() { UpdateTargetId = "edit-form-field", OnSuccess = "reloadFormFieldList()", LoadingElementId = "waiting" }, new { @class = "ym-form", id = "edit-form-field-form" }))
{
    @Html.HiddenFor(x => x.FormField.Id)
    @Html.HiddenFor(x => x.FormField.FormId)
        
    <div class="ym-fbox">
        <h5>Edit Form Field</h5>
        <input class="picture-submit" type="submit" value="" />
        @Ajax.ActionLink(" ", "DeleteFormField/" + Model.FormField.Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "form-field-list", Confirm = "Do you really want to delete this form field?", OnSuccess = "$('#edit-form-field').html('');", LoadingElementId = "waiting" }, new { @class = "delete-button" })
    </div>
    <div class="ym-fbox">
        <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
            <div class="ym-g10 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormField.Name)
            </div>

            <div class="ym-g30 ym-gl narrow-input">
                @Html.TextBoxFor(x => x.FormField.Name)
            </div>

            <div class="ym-g10 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormField.Label)
            </div>

            <div class="ym-g30 ym-gl narrow-input">
                @Html.TextBoxFor(x => x.FormField.Label)
            </div>

            <div class="ym-g15 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormField.Mandatory)
            </div>

            <div class="ym-g5 ym-gr checkbox-div">
                @Html.CheckBoxFor(x => x.FormField.Mandatory)
            </div>
        </div>
    </div>
    
    <div class="ym-fbox">
        <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
            <div class="ym-g10 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormField.DataType)
            </div>

            <div class="ym-g30 ym-gl narrow-input">
                @Html.DropDownListFor(x => x.FormField.DataType, @Model.FormField.DataType.ToSelectList())
            </div>

            <div class="ym-g10 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormField.Order)
            </div>

            <div class="ym-g30 ym-gl narrow-input">
                @Html.TextBoxFor(x => x.FormField.Order)
            </div>

            <div class="ym-g15 ym-gl">
                @Html.LabelTitleizeFor(x => x.FormField.SpanTwoColumns)
            </div>

            <div class="ym-g5 ym-gr checkbox-div">
                @Html.CheckBoxFor(x => x.FormField.SpanTwoColumns)
            </div>
        </div>
    </div>
    
    <div id="text-content-div" class="ym-fbox ym-full-width-text">
        @Html.LabelTitleizeFor(x => x.FormField.TextContent, "ym-full-width-label")
        @Html.TextAreaFor(x => x.FormField.TextContent)
    </div>
    
    <div class="ym-fbox">
        <div id="form-field-item-list">
            @* Important Div *@
        </div>
    </div>
}

<div id="edit-form-field-item">
    @* Going to get the edit form going on in here *@
</div>
