﻿@model BTT.CaravanQLD.AppPortal.Models.EmailListModel

<div id="email-list">
    <p>@Ajax.ActionLink("Sort by Subject", "ChangeEmailListSortOrder", new { SortByDateCreated = false }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", LoadingElementId = "waiting" })
        | @Ajax.ActionLink("Sort by Date Created", "ChangeEmailListSortOrder", new { SortByDateCreated = true }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", LoadingElementId = "waiting" })
        | @Ajax.ActionLink("Add New Email", "CreateNewEmail", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", OnSuccess = "createCKEditorForEmails", LoadingElementId = "waiting" })
        | @Ajax.ActionLink("View All Logs", "LogListForAll", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting" })
    </p>
    


    @if (Model.SortByDateCreated)
    {
        @Html.Action("EmailListByDateCreated");
    }
    else
    {
        @Html.Action("EmailListBySubject");
    }
</div>

