﻿@model BTT.CaravanQLD.Model.Email

@*@{
    var initialClass = "initial-email-link-off";
    if (Model.IsInitialEmail)
    {
        initialClass = "initial-email-link-on";
    }
}*@

<div class="ym-g80 ym-gl subject-link">@Ajax.ActionLink(Model.Subject, "EditEmail/" + Model.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", OnSuccess = "createCKEditorForEmails", LoadingElementId = "waiting" })</div>
<div class="ym-g20 ym-gr email-actions">
    @*@Ajax.ActionLink(" ", "SetInitialEmail/" + Model.Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails" }, new { @class = @initialClass })
    |*@ 
    @Ajax.ActionLink("View", "EditEmail/" + Model.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", OnSuccess = "createCKEditorForEmails", LoadingElementId = "waiting" }) 
    | @Ajax.ActionLink("Delete", "DeleteEmail/" + Model.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", Confirm = "Do you really want to delete this email and its email logs?", OnSuccess = "showNotification('Your email has been deleted.', 'success')", OnFailure = "showNotification('Your email has not been deleted. Please try again.', 'error')", LoadingElementId = "waiting" })
    | @Ajax.ActionLink("View Logs", "LogListForEmail/" + Model.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting" })
    @*| @Ajax.ActionLink("Clear Logs", "ClearEmailLogs/" + Model.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", Confirm = "Do you really want to clear the logs for this email?" })*@
</div>