﻿@using (Ajax.BeginForm("ExhibitorListForSearch", null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitor-list", OnSuccess = "clearSearchBoxes()" }, new { id = "exhibitor-search-form", @class = "search-form" }))
{
    <input type="submit" value="GO" style="display: none;" />
    <div class="ym-p-75 ym-gl">Show ID <br />@Html.TextBox("showID")</div>
    <div class="ym-p-300 ym-gl">Trading Name <br />@Html.TextBox("tradingName")</div>
    <div class="ym-p-300 ym-gl">Show Listing Name <br />@Html.TextBox("showListingName")</div>
    <div class="ym-p-200 ym-gl">Allocated Stand Number <br />@Html.TextBox("allocatedStandNumber")</div>
    <div class="ym-p-200 ym-gl">Site Location <br />@Html.TextBox("siteLocation")</div>
    <div class="ym-p-75 ym-gl">Frontage <br />@Html.TextBox("frontage")</div>
    <div class="ym-p-75 ym-gl">Depth <br />@Html.TextBox("depth")</div>
    <div class="ym-p-75 ym-gl">Area <br />@Html.TextBox("area")</div>
    <div class="ym-p-200 ym-gl">Address Line 1 <br />@Html.TextBox("addressLine1")</div>
    <div class="ym-p-200 ym-gl">Address Line 2 <br />@Html.TextBox("addressLine2")</div>
    <div class="ym-p-150 ym-gl">Suburb <br />@Html.TextBox("suburb")</div>
    <div class="ym-p-50 ym-gl">State <br />@Html.TextBox("state")</div>
    <div class="ym-p-100 ym-gl">Country <br />@Html.TextBox("country")</div>
    <div class="ym-p-75 ym-gl">Postcode <br />@Html.TextBox("postcode")</div>
    <div class="ym-p-150 ym-gl">Exhibitor Phone <br />@Html.TextBox("exhibitorPhone")</div>
    <div class="ym-p-150 ym-gl">Exhibitor Fax <br />@Html.TextBox("exhibitorFax")</div>
    <div class="ym-p-250 ym-gl">Exhibitor Email <br />@Html.TextBox("exhibitorEmail")</div>
    <div class="ym-p-300 ym-gl">Website <br />@Html.TextBox("website")</div>
    <div class="ym-p-100 ym-gl">Title <br />@Html.TextBox("title")</div>
    <div class="ym-p-100 ym-gl">First Name <br />@Html.TextBox("firstName")</div>
    <div class="ym-p-100 ym-gl">Surname <br />@Html.TextBox("surname")</div>
    <div class="ym-p-150 ym-gl">Mobile <br />@Html.TextBox("mobile")</div>
    <div class="ym-p-150 ym-gl">Phone <br />@Html.TextBox("phone")</div>
    <div class="ym-p-250 ym-gl">Email <br />@Html.TextBox("email")</div>
    <div class="ym-p-100 ym-gl">Move In Date <br />@Html.TextBox("moveInDate")</div>
    <div class="ym-p-100 ym-gl">Access Gate <br />@Html.TextBox("accessGate")</div>
    <div class="ym-p-300 ym-gl">Notes <br />@Html.TextBox("notes")</div>
}

