﻿@model BTT.CaravanQLD.Model.ExhibitorApplication

<div class="ym-p-75 ym-gl">@Ajax.ActionLink(Model.ShowId, "EditExhibitor", new { id = Model.Id }, new AjaxOptions() { UpdateTargetId = "exhibitors", LoadingElementId = "waiting" })</div>
<div class="ym-p-300 ym-gl">@Ajax.ActionLink((!String.IsNullOrEmpty(Model.TradingName) ? Model.TradingName : " "), "EditExhibitor", new { id = Model.Id }, new AjaxOptions() { UpdateTargetId = "exhibitors", LoadingElementId = "waiting" })</div>
<div class="ym-p-300 ym-gl">@Model.ShowListingName</div>
<div class="ym-p-200 ym-gl">@Model.AllocatedStandNumber</div>
<div class="ym-p-200 ym-gl">@Model.SiteLocation</div>
<div class="ym-p-75 ym-gl">@Model.Frontage</div>
<div class="ym-p-75 ym-gl">@Model.Depth</div>
<div class="ym-p-75 ym-gl">@Model.Area</div>
<div class="ym-p-200 ym-gl">@Model.AddressLine1</div>
<div class="ym-p-200 ym-gl">@Model.AddressLine2 </div>
<div class="ym-p-150 ym-gl">@Model.Suburb</div>
<div class="ym-p-50 ym-gl">@Model.State</div>
<div class="ym-p-100 ym-gl">@Model.Country</div>
<div class="ym-p-75 ym-gl">@Model.Postcode</div>
<div class="ym-p-150 ym-gl">@Model.ExhibitorPhone</div>
<div class="ym-p-150 ym-gl">@Model.ExhibitorFax</div>
<div class="ym-p-250 ym-gl">@Model.ExhibitorEmail</div>
<div class="ym-p-300 ym-gl">@Model.Website</div>
<div class="ym-p-100 ym-gl">@Model.Title</div>
<div class="ym-p-100 ym-gl">@Model.FirstName</div>
<div class="ym-p-100 ym-gl">@Model.Surname</div>
<div class="ym-p-150 ym-gl">@Model.Mobile</div>
<div class="ym-p-150 ym-gl">@Model.Phone</div>
<div class="ym-p-250 ym-gl">@Model.Email</div>
<div class="ym-p-100 ym-gl">@Model.MoveInDate</div>
<div class="ym-p-100 ym-gl">@Model.AccessGate</div>
<div class="ym-p-300 ym-gl" title="@Model.Notes">@Model.Notes</div>