﻿<div id="exhibitor-list">
    <p>
        @Ajax.ActionLink("Add New Exhibitor", "AddNewExhibitor", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", LoadingElementId = "waiting"})
    </p>

    @Html.Action("ExhibitorListForAccepted")
</div>