﻿@model BTT.CaravanQLD.AppPortal.Models.ExhibitorsModel

@{
    ViewBag.Title = "CQ Data Portal";
    Layout = "~/Views/Shared/_DataPortalLayout.cshtml";
}

<h2>Exhibitors</h2>

<div id="exhibitors">
    @if (Model.ForwardToExhibitor)
    {
        @Html.Action("EditExhibitor", new { id = Model.ExhibitorId })
    }
    else
    {
        @Html.Action("ExhibitorList")
    }
</div>

