﻿@model BTT.CaravanQLD.AppPortal.Models.FormListModel

<p>
    @Ajax.ActionLink("New Form Group", "CreateFormGroup", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", LoadingElementId = "waiting" })
    | @Ajax.ActionLink("New Form", "CreateForm", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", OnSuccess = "setupFormForm()", LoadingElementId = "waiting" })
</p>

<div id="form-list">
    @foreach (var formGroup in Model.FormGroups)
    {
        <div class="ym-grid form-group-row">
            @Ajax.ActionLink(" ", "MoveFormGroupUp/" + formGroup.Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
            @Ajax.ActionLink(" ", "MoveFormGroupDown/" + formGroup.Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
            |@Ajax.ActionLink(formGroup.Name, "EditFormGroup/" + formGroup.Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", LoadingElementId = "waiting" }, new { @class = "name-link" })
        </div>
        
        var forms = Model.Forms.Where(x => x.FormGroupId == formGroup.Id).OrderBy(x => x.Order).ToList();
        
        for (int i = 0; i < forms.Count; i++)
        {
            var className = i % 2 != 0 ? "alt-row" : "std-row";
            <div class="ym-grid @className">
                @Ajax.ActionLink(" ", "MoveFormUp/" + forms[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", LoadingElementId = "waiting" }, new { @class = "up-arrow" })
                @Ajax.ActionLink(" ", "MoveFormDown/" + forms[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", LoadingElementId = "waiting" }, new { @class = "down-arrow" })
                |@Ajax.ActionLink(forms[i].Name, "EditForm/" + forms[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "forms", LoadingElementId = "waiting", OnSuccess = "setupFormForm()" }, new { @class = "name-link" })
            </div>
        }
    }
</div>