﻿@model BTT.CaravanQLD.AppPortal.Models.FormFieldItemListModel

<b>Form Field Items</b>
@Ajax.ActionLink(" ", "CreateFormFieldItem/" + Model.FormField.Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "edit-form-field-item", OnSuccess = "reloadFormFieldItemList()" }, new { @class = "add-button" })
@foreach (var item in Model.FormFieldItems)
{
    <div class="ym-grid">
        @Ajax.ActionLink(item.Text, "EditFormFieldItem/" + item.Id.ToString(), new AjaxOptions() { UpdateTargetId = "edit-form-field-item", OnSuccess = "" })
    </div>
}