﻿@{
    ViewBag.Title = "CQ Data Portal";
    Layout = "~/Views/Shared/_DataPortalLayout.cshtml";
}

<h2>Imports</h2>

<p>
    @Ajax.ActionLink("Import New Exhibitors", "ImportNewExhibitors", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "imports", LoadingElementId = "waiting" })
    | @Ajax.ActionLink("Update Exhibitors", "UpdateExhibitors", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "imports", LoadingElementId = "waiting" })
    | @Html.ActionLink("Export All Exhibitors", "ExportAllData")
</p>

<div id="imports">
    <p>Please click on one of the links above to open an import or export. </p>
</div>