﻿@using (Html.BeginForm("ImportNewExhibitors", "DataPortal", FormMethod.Post, new { enctype="multipart/form-data", @class = "ym-form ym-columnar" }))
{
    <h5>Import New Exhibitors</h5>

    <div class="ym-fbox">
        <div class="ym-fbox-text">
            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="importFileInput"></span>
            <label for="importFileInput">File</label>
            <input id="importFileInput" type="file" name="importFileInput" required="required" accept="text/csv" data-val-required="Please pick a file." data-val="true" />
        </div>
    </div>
    
    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Import" />
    </div>
}

<p>
    This import expects you to have column titles in the first row of the CSV file. These are not word or case sensitive fields, but they do need to have something in them.
</p>

<div class="ym-grid">
        <h4>Import Fields</h4>
        <p>
            This import will add new exhibitors to the portal. See the fields for this import below:
        </p> 
</div>

<div class="ym-grid">
        <ol>
            <li>Show ID</li>
            <li>Trading Name</li>
            <li>Show Listing Name</li>
            <li>Allocated Stand Number</li>
            <li>Site Location</li>
            <li>Frontage</li>
            <li>Depth</li>
            <li>Area</li>
            <li>Address Line 1</li>
            <li>Address Line 2</li>
            <li>Suburb</li>
            <li>State</li>
            <li>Country</li>
            <li>Postcode</li>
            <li>Exhibitor Phone</li>
            <li>Exhibitor Fax</li>
            <li>Exhibitor Email</li>
            <li>Website</li>
            <li>Title</li>
            <li>First Name</li>
            <li>Surname</li>
            <li>Phone</li>
            <li>Mobile</li>
            <li>Email</li>
        </ol> 
</div>