﻿@model BTT.CaravanQLD.AppPortal.Models.LogListForEmailModel

<p>
    @Ajax.ActionLink("Back to Email", "EditEmail/" + Model.EmailId.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", OnSuccess = "createCKEditorForEmails", LoadingElementId = "waiting" }) 
    | @Ajax.ActionLink("Clear Logs", "ClearEmailLogs/" + Model.EmailId.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", Confirm = "Do you really want to clear the logs for this email?", LoadingElementId = "waiting" })
</p>

<div id="log-list">
    @if (Model.TotalRecords > 10)
    {
        int pageCount = (Model.TotalRecords + Model.LogsPerPage - 1) / Model.LogsPerPage;
        <div id="log-list-pages">
            Page: 
            @for (int i = 1; i <= pageCount; i++)
			{
                var className = i == Model.CurrentPage ? "current-page" : "";
			    @Ajax.ActionLink(i.ToString(), "LogListForEmail", new { id = Model.EmailId, page = i }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", LoadingElementId = "waiting" }, new { @class = className })
			}
        </div>
    }

    <div class="ym-grid log-list-top-row">
        <div class="ym-p-200 ym-gl">Date Sent</div>
        <div class="ym-p-400 ym-gl">Subject</div>
        <div class="ym-p-250 ym-gl">Trading Name</div>
        <div class="ym-p-250 ym-gl">Contact Email</div>
        <div class="ym-p-150 ym-gl centered">Re-Send Email</div>
            @using (Ajax.BeginForm("LogListForSearch", null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting" }, new { id = "log-search-form", @class = "search-form" }))
            {
                @Html.Hidden("searchType", "email");
                @Html.Hidden("searchId", Model.EmailId);
                <div class="ym-p-200 ym-gl">
                        @Html.TextBox("date", "", new { @class = "date-input" })
                </div>
                <div class="ym-p-400 ym-gl">
                        @Html.TextBox("subject")
                </div>
                <div class="ym-p-250 ym-gl">
                        @Html.TextBox("tradingName")
                </div>
                <div class="ym-p-250 ym-gl">
                        @Html.TextBox("contactEmail")
                        <input type="submit" value="go" style="display: none;" />
                </div>
            }
    </div>

    @if (Model.EmailLogs.Count < 1)
    {
        <p>There are no logs for this email.</p>
    }

    @for (int i = 0; i < Model.EmailLogs.Count; i++)
    {
        var className = i % 2 != 0 ? "alt-row" : "std-row";
        <div class="ym-grid @className">@Html.Partial("LogListItem", Model.EmailLogs[i])</div>
    }
</div>