﻿@model BTT.CaravanQLD.AppPortal.Models.LogListForSearchModel

@if (Model.SearchType == "email")
{
    <p>
        @Ajax.ActionLink("Back to Email", "EditEmail/" + Model.SearchId.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", OnSuccess = "createCKEditorForEmails", LoadingElementId = "waiting" }) 
        | @Ajax.ActionLink("Clear Search", "LogListForEmail/" + Model.SearchId.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting" }) 
    </p>
}
else if (Model.SearchType == "exhibitor")
{
    <p>
        @Ajax.ActionLink("Back to Exhibitor", "EditExhibitor/" + Model.SearchId.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", LoadingElementId = "waiting" })
        | @Ajax.ActionLink("Clear Search", "LogListForExhibitor/" + Model.SearchId.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting" }) 
    </p>
}
else if (Model.SearchType == "all")
{
    <p>
        @Ajax.ActionLink("Back to Email List", "EmailList", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", LoadingElementId = "waiting" })
        | @Ajax.ActionLink("Clear Search", "LogListForAll", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "emails", OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting" }) 
    </p>
}

<div id="log-list">
    <div id="log-list-pages">
        Your search returned @Model.EmailLogs.Count logs.
    </div> 

    <div class="ym-grid log-list-top-row">
        <div class="ym-p-200 ym-gl">Date Sent</div>
        <div class="ym-p-400 ym-gl">Subject</div>
        <div class="ym-p-250 ym-gl">Trading Name</div>
        <div class="ym-p-250 ym-gl">Contact Email</div>
        <div class="ym-p-150 ym-gl centered">Re-Send Email</div>
        @using (Ajax.BeginForm("LogListForSearch", null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = (Model.SearchType == "exhibitor" ? "exhibitors" : "emails"), OnSuccess = "clearSearchBoxes()", LoadingElementId = "waiting" }, new { id = "log-search-form", @class = "search-form" }))
        {
            @Html.Hidden("searchType", Model.SearchType);
            @Html.Hidden("searchId", Guid.Empty);
            <div class="ym-p-200 ym-gl">
                @Html.TextBox("date", "", new { @class = "date-input" })
            </div>
            <div class="ym-p-400 ym-gl">
                @Html.TextBox("subject")
            </div>
            <div class="ym-p-250 ym-gl">
                @Html.TextBox("tradingName")
            </div>
            <div class="ym-p-250 ym-gl">
                @Html.TextBox("contactEmail")
                <input type="submit" value="go" style="display: none;" />
            </div>
        }
    </div>

    @for (int i = 0; i < Model.EmailLogs.Count; i++)
    {
        var className = i % 2 != 0 ? "alt-row" : "std-row";
        <div class="ym-grid @className">@Html.Partial("LogListItem", Model.EmailLogs[i])</div>
    }
</div>


