﻿@model BTT.CaravanQLD.Model.EmailLog

<div class="ym-p-200 ym-gl">@Model.DateSent.ToString()</div>
<div class="ym-p-400 ym-gl">@Html.ActionLink(Model.Email.Subject, "Emails", new { ForwardToEmail = true, EmailId = Model.EmailId })</div>
<div class="ym-p-250 ym-gl">@Html.ActionLink(!String.IsNullOrEmpty(Model.ExhibitorApplication.TradingName) ? Model.ExhibitorApplication.TradingName : Model.ExhibitorApplication.ExhibitorEmail, "Exhibitors", new { ForwardToExhibitor = true, ExhibitorId = Model.ExhibitorApplicationId })</div>
<div class="ym-p-250 ym-gl">@Html.ActionLink(!String.IsNullOrEmpty(Model.ExhibitorApplication.Email) ? Model.ExhibitorApplication.Email : "No Contact Email", "Exhibitors", new { ForwardToExhibitor = true, ExhibitorId = Model.ExhibitorApplicationId })</div>
<div class="ym-p-150 ym-gl centered">@Ajax.ActionLink(" ", "SendOneEmail", new { EmailId = Model.EmailId, ExhibitorId = Model.ExhibitorApplicationId }, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "showNotification('The email has been sent.', 'success');", OnFailure = "showNotification('The email failed to send. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "reminder-email" })</div>