﻿@model BTT.CaravanQLD.AppPortal.Models.PageListModel

<p>
    @Ajax.ActionLink("Add New Page", "AddNewPage", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "pages", OnSuccess = "createCKEditorForPages()", LoadingElementId = "waiting" })
</p>

<p>There are currently @Model.ContentPages.Count pages.</p>

<div id="page-list">
    <div class="ym-grid top-row">
        <div class="ym-g50 ym-gl">Name</div>
        <div class="ym-g30 ym-gl">Page Type</div>
        <div class="ym-g20 ym-gr">Is Current</div>
    </div>

    @for (int i = 0; i < Model.ContentPages.Count; i++)
    {
        var className = i % 2 != 0 ? "alt-row" : "std-row";
        <div class="ym-grid @className">
            <div class="ym-g50 ym-gl">@Ajax.ActionLink(Model.ContentPages[i].Name, "EditPage/" + Model.ContentPages[i].Id.ToString(), new AjaxOptions() { UpdateTargetId = "pages", OnSuccess = "createCKEditorForPages()", LoadingElementId = "waiting" }) </div>
            <div class="ym-g30 ym-gl">@Model.ContentPages[i].PageType.ToString()</div>
            <div class="ym-g20 ym-gr">@Model.ContentPages[i].IsCurrent.ToString()</div>
        </div>
    }
</div>