﻿@model BTT.CaravanQLD.AppPortal.Models.ShowListModel

<p>
    @Ajax.ActionLink("Add New Show", "AddNewShow", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "shows", OnSuccess = "createDatePickerForShows()", LoadingElementId = "waiting" })
    | @Html.ActionLink("Change Show", "ChooseShow")
</p>

<p>There are currently @Model.Shows.Count pages.</p>

<div id="page-list">
    <div class="ym-grid top-row">
        <div class="ym-g20 ym-gl">Name</div>
        <div class="ym-g20 ym-gl">Show Type</div>
        <div class="ym-g20 ym-gl">Start Date</div>
        <div class="ym-g20 ym-gl">End Date</div>
        <div class="ym-g20 ym-gr">Link Identifier</div>
    </div>

    @for (int i = 0; i < Model.Shows.Count; i++)
    {
        var className = i % 2 != 0 ? "alt-row" : "std-row";
        <div class="ym-grid @className">
            <div class="ym-g20 ym-gl">@Ajax.ActionLink(Model.Shows[i].Name, "EditShow/" + Model.Shows[i].Id.ToString(), new AjaxOptions() { UpdateTargetId = "shows", OnSuccess = "createDatePickerForShows()", LoadingElementId = "waiting" }) </div>
            <div class="ym-g20 ym-gl">@Model.Shows[i].ShowType.ToString()</div>
            <div class="ym-g20 ym-gl">@Model.Shows[i].StartDate.ToString("dd/MM/yyyy")</div>
            <div class="ym-g20 ym-gl">@Model.Shows[i].EndDate.ToString("dd/MM/yyyy")</div>
            <div class="ym-g20 ym-gr">@Model.Shows[i].LinkIdentifier</div>
        </div>
    }
</div>