﻿@using (Html.BeginForm("UpdateStandNumbers", "DataPortal", FormMethod.Post, new { enctype="multipart/form-data", @class = "ym-form ym-columnar" }))
{
    <h5>Update Stand Numbers</h5>

    <div class="ym-fbox">
        <div class="ym-fbox-text">
            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="importFileInput"></span>
            <label for="importFileInput">File</label>
            <input id="importFileInput" type="file" name="importFileInput" required="required" accept="text/csv" data-val-required="Please pick a file." data-val="true" />
        </div>
    </div>
     
    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Import" />
    </div>
}

<p>
    This import expects you to have column titles in the first row of the CSV file. These are not word or case sensitive fields, but they do need to have something in them.
</p>

<div class="ym-grid">
     <h4>Import Fields</h4>
    <p>The records are matched on the first record returned with the same Show ID.</p>

    <ol>
        <li>Show ID</li>
        <li>Allocated Stand Number</li>
    </ol>   
</div>