﻿@using (Html.BeginForm("UpdateExhibitors", "DataPortal", FormMethod.Post, new { enctype = "multipart/form-data", @class = "ym-form ym-columnar" }))
{
    <h5>Update Exhibitors</h5>

    <div class="ym-fbox">
        <div class="ym-fbox-text">
            <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="importFileInput"></span>
            <label for="importFileInput">File</label>
            <input id="importFileInput" type="file" name="importFileInput" required="required" accept="text/csv" data-val-required="Please pick a file." data-val="true" />
        </div>
    </div>

    <div class="ym-fbox-footer ym-fbox-button">
        <input type="submit" value="Import" />
    </div>
}

<p>
    This import expects you to have column titles in the first row of the CSV file. These are not word or case sensitive fields, but they do need to have something in them.
</p>

<div class="ym-grid">
    <h4>Import Fields</h4>
    <p>
        This import will update existing exhibitors in the portal where the Show ID matches an exhibitor's Show ID. See the fields for this import below:
    </p>
</div>

<div class="ym-grid">
    <ol>
        <li>Show ID</li>
        <li>Move In Date</li>
        <li>Access Time</li>
        <li>Access Gate</li>
        <li>Notes</li>
    </ol>
</div>