﻿@model BTT.CaravanQLD.AppPortal.Models.ViewExhibitorFormStatsModel

<p>
    @Ajax.ActionLink("Back to Exhibitor", "EditExhibitor/" + Model.Exhibitor.Id.ToString(), new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitors", LoadingElementId = "waiting" })
</p>

<div id="view-form-data">
    <p>There are @Model.CompletedForms.Count forms that have been completed and @Model.UncompletedForms.Count forms that have not.</p>

    <div class="ym-grid top-row">
        <div class="ym-p-300 ym-gl">
            Forms - Completed
        </div>
        <div class="ym-p-200 ym-gr centered">
            Date Completed
        </div>
    </div>

    @if (Model.CompletedForms.Count <= 0)
    {
        <div class="ym-grid no-row">There are no forms.</div>
    }
    else
    {
        for (int i = 0; i < Model.CompletedForms.Count; i++)
        {
            var className = i % 2 != 0 ? "alt-row" : "std-row";
            var dateCompleted = ((DateTime)Model.FormExhibitors.FirstOrDefault(x => x.FormId == Model.CompletedForms[i].Id).DateCompleted).ToShortDateString();
            var formId = Model.CompletedForms[i].Id.ToString();
            <div class="ym-grid @className">
                <div class="ym-p-300 ym-gl">
                    @Model.CompletedForms[i].Name
                </div>
                <div class="ym-p-200 ym-gr centered">
                    @dateCompleted
                </div>
            </div>
        }
    }

    <div class="ym-grid std-row">
        <div class="ym-p-300 ym-gl"></div>
    </div>

    <div class="ym-grid top-row">
        <div class="ym-p-300 ym-gl">
            Forms - Not Completed
        </div>
        <div class="ym-p-200 ym-gl centered">
            Last Reminded
        </div>
        <div class="ym-p-200 ym-gr centered">
            Send Reminder
        </div>
    </div>

    @if (Model.UncompletedForms.Count <= 0)
    {
        <div class="ym-grid no-row">There are no forms.</div>
    }
    else
    {
        for (int i = 0; i < Model.UncompletedForms.Count; i++)
        {
        var className = i % 2 != 0 ? "alt-row" : "std-row";
        <div class="ym-grid @className">
            <div class="ym-p-300 ym-gl">
                @Model.UncompletedForms[i].Name
            </div>
            <div class="ym-p-200 ym-gl centered">
                @if (Model.UncompletedForms[i].EmailId == null)
                {
                    @Html.Raw("Never")
                }
                else
                {
                    var emailLog = Model.EmailLogsForExhibitor.FirstOrDefault(x => x.EmailId == Model.UncompletedForms[i].EmailId);
                    if (emailLog == null)
                    {
                        <span id="reminder-@Model.UncompletedForms[i].Id.ToString()">@Html.Raw("Never")</span>
                    }
                    else
                    {
                        <span id="reminder-@Model.UncompletedForms[i].Id.ToString()">@Html.Raw(emailLog.DateSent.ToShortDateString())</span>
                    }
                }
            </div>
            <div class="ym-p-200 ym-gr centered">
                @if (Model.UncompletedForms[i].EmailId == null)
                {
                    <a href="javascript:void(0)" class="reminder-email" onclick="alert('There is no email linked with this form.')"></a>
                }
                else
                {
                    @Ajax.ActionLink(" ", "SendReminderEmail", new { FormId = Model.UncompletedForms[i].Id, ExhibitorId = Model.Exhibitor.Id }, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "showNotification('The reminder email has been sent.', 'success'); updateLastRemindedDate('" + Model.UncompletedForms[i].Id.ToString() + "');", OnFailure = "showNotification('The reminder email failed to send. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "reminder-email" })
                }
            </div>
        </div>
        }
    }
</div>