﻿@model BTT.CaravanQLD.AppPortal.Models.ViewFormDataSearchModel

<p>
    @Ajax.ActionLink("Back to Form", "EditForm/" + Model.Form.Id.ToString(), new AjaxOptions() { UpdateTargetId = "forms", OnSuccess = "setupFormForm()", LoadingElementId = "waiting" })
    | <a id="exportLink" href="/DataPortal/ExportFormData?formId=@Model.Form.Id.ToString()&exhibitorsToExport=">Export Form Data</a>
</p>

@{
        //*********** Remember to update the form data view as well *****************//   
}
<div id="view-form-data">
@using (Ajax.BeginForm("ViewFormDataSearch", new { formId = Model.Form.Id }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "forms", OnSuccess = "updateFormDivWidth()", LoadingElementId = "waiting" }, new { id = "form-data-form", @class = "search-form" }))
{
    <input type="submit" value="GO" style="display: none;" />
    
    if (Model.Form.Type == FormType.Content) //this is for content forms
    {
        <p>Your search returned @Model.CompletedExhibitors.Count exhibitors.</p>
    
        <div class="ym-grid top-row">
            <div class="ym-p-300 ym-gl">
                Exhibitors - Viewed
                <br />@Html.TextBox("exhibitors")
            </div>
            <div class="ym-p-200 ym-gr centered">
                Date Viewed
                <br />@Html.TextBox("dateViewed", "", new { @class = "date-input" })
            </div>
        </div>
    
        if (Model.CompletedExhibitors.Count > 0)
        {
            for (int i = 0; i < Model.CompletedExhibitors.Count; i++)
            {
                var className = i % 2 != 0 ? "alt-row" : "std-row";
                var dateCompleted = ((DateTime)Model.FormExhibitors.FirstOrDefault(x => x.ExhibitorApplicationId == Model.CompletedExhibitors[i].Id).DateCompleted).ToShortDateString();
                var exhibitorId = Model.CompletedExhibitors[i].Id.ToString();
                <div class="ym-grid @className">
                    <div class="ym-p-300 ym-gl">
                        <a href="javascript:void(0)" class="export-csv" id="@exhibitorId" onclick="toggleExportCsv('@exhibitorId')"></a>
                        @Html.ActionLink(!String.IsNullOrEmpty(Model.CompletedExhibitors[i].TradingName) ? Model.CompletedExhibitors[i].TradingName : Model.CompletedExhibitors[i].ExhibitorEmail, "Exhibitors", new { ForwardToExhibitor = true, ExhibitorId = Model.CompletedExhibitors[i].Id })
                    </div>
                    <div class="ym-p-200 ym-gr centered">
                        @dateCompleted
                    </div>
                </div>
            }
        }
    }
    else //This is for standard forms
    {
        <p>Your search returned @Model.CompletedExhibitors.Count exhibitors.</p>
    
        <div class="ym-grid top-row">
            <div class="ym-p-300 ym-gl">
                Exhibitors - Completed
                <br />@Html.TextBox("exhibitors")
            </div>
            <div class="ym-p-200 ym-gl">
                Date Viewed
                <br />@Html.TextBox("dateViewed", "", new { @class = "date-input" })
            </div>
            @Html.Action("ViewFormFieldDataHeaderRow", new { formId = Model.Form.Id })
        </div>

        if (Model.CompletedExhibitors.Count > 0)
        {
            for (int i = 0; i < Model.CompletedExhibitors.Count; i++)
            {
                var className = i % 2 != 0 ? "alt-row" : "std-row";
                var dateCompleted = ((DateTime)Model.FormExhibitors.FirstOrDefault(x => x.ExhibitorApplicationId == Model.CompletedExhibitors[i].Id).DateCompleted).ToShortDateString();
                var exhibitorId = Model.CompletedExhibitors[i].Id.ToString();
                <div class="ym-grid @className">
                    <div class="ym-p-300 ym-gl">
                        <a href="javascript:void(0)" class="export-csv" id="@exhibitorId" onclick="toggleExportCsv('@exhibitorId')"></a>
                        @Html.ActionLink(!String.IsNullOrEmpty(Model.CompletedExhibitors[i].TradingName) ? Model.CompletedExhibitors[i].TradingName : Model.CompletedExhibitors[i].ExhibitorEmail, "Exhibitors", new { ForwardToExhibitor = true, ExhibitorId = Model.CompletedExhibitors[i].Id })
                    </div>
                    <div class="ym-p-200 ym-gl">
                        @dateCompleted
                    </div>
                    @Html.Action("ViewFormFieldData", new { formId = Model.Form.Id, exhibitorId = Model.CompletedExhibitors[i].Id })
                </div>
            }
        }
    }
}
</div>