﻿@model BTT.CaravanQLD.AppPortal.Models.ViewFormDataModel

<p>
    @Ajax.ActionLink("Back to Form", "EditForm/" + Model.Form.Id.ToString(), new AjaxOptions() { UpdateTargetId = "forms", OnSuccess = "setupFormForm()", LoadingElementId = "waiting" })
    | <a id="exportLink" href="/DataPortal/ExportFormData?formId=@Model.Form.Id.ToString()&exhibitorsToExport=">Export Form Data</a>
</p>

@{
    //*********** Remember to update the search results view as well *****************//   
}
<div id="view-form-data">
@using (Ajax.BeginForm("ViewFormDataSearch", new { formId = Model.Form.Id }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "forms", OnSuccess = "updateFormDivWidth()", LoadingElementId = "waiting" }, new { id = "form-data-form", @class = "search-form" }))
{
    <input type="submit" value="GO" style="display: none;" />
    
    if (Model.Form.Type == FormType.Content) //this is for content forms
    {
        <p>There are @Model.CompletedExhibitors.Count exhibitors who have viewed this form and @Model.UncompletedExhibitors.Count exhibitors who have not.</p>
    
        <div class="ym-grid top-row">
            <div class="ym-p-300 ym-gl">
                Exhibitors - Viewed
                <br />@Html.TextBox("exhibitors")
            </div>
            <div class="ym-p-200 ym-gr centered">
                Date Viewed
                <br />@Html.TextBox("dateViewed", "", new { @class = "date-input" })
            </div>
        </div>
        
        if (Model.CompletedExhibitors.Count <= 0)
        {
            <div class="ym-grid no-row">There are no exhibitors.</div>
        }
        else
        {
            for (int i = 0; i < Model.CompletedExhibitors.Count; i++)
            {
                var className = i % 2 != 0 ? "alt-row" : "std-row";
                var dateCompleted = ((DateTime)Model.FormExhibitors.FirstOrDefault(x => x.ExhibitorApplicationId == Model.CompletedExhibitors[i].Id).DateCompleted).ToShortDateString();
                var exhibitorId = Model.CompletedExhibitors[i].Id.ToString();
                <div class="ym-grid @className">
                    <div class="ym-p-300 ym-gl">
                        <a href="javascript:void(0)" class="export-csv" id="@exhibitorId" onclick="toggleExportCsv('@exhibitorId')"></a>
                        @Html.ActionLink(!String.IsNullOrEmpty(Model.CompletedExhibitors[i].TradingName) ? Model.CompletedExhibitors[i].TradingName : Model.CompletedExhibitors[i].ExhibitorEmail, "Exhibitors", new { ForwardToExhibitor = true, ExhibitorId = Model.CompletedExhibitors[i].Id })
                    </div>
                    <div class="ym-p-200 ym-gr centered">
                        @dateCompleted
                    </div>
                </div>
            }
        }
        
        <div class="ym-grid std-row">
            <div class="ym-p-300 ym-gl"></div>
        </div>
    
        <div class="ym-grid top-row">
            <div class="ym-p-300 ym-gl">
                Exhibitors - Not Viewed
            </div>
            <div class="ym-p-200 ym-gl centered">
                Last Reminded
            </div>
            <div class="ym-p-200 ym-gr centered">
                Send Reminder
            </div>
        </div>

        if (Model.UncompletedExhibitors.Count <= 0)
        {
            <div class="ym-grid no-row">There are no exhibitors.</div>
        }
        else
        {
            for (int i = 0; i < Model.UncompletedExhibitors.Count; i++)
            {
                var className = i % 2 != 0 ? "alt-row" : "std-row";
                <div class="ym-grid @className">
                    <div class="ym-p-300 ym-gl">
                        @Html.ActionLink(!String.IsNullOrEmpty(Model.UncompletedExhibitors[i].TradingName) ? Model.UncompletedExhibitors[i].TradingName : Model.UncompletedExhibitors[i].ExhibitorEmail, "Exhibitors", new { ForwardToExhibitor = true, ExhibitorId = Model.UncompletedExhibitors[i].Id })
                    </div>
                    <div class="ym-p-200 ym-gl centered">
                        @if (Model.Form.EmailId == null)
                        {
                            @Html.Raw("Never")
                        }
                        else
                        {
                            var emailLog = Model.EmailLogsForForm.FirstOrDefault(x => x.ExhibitorApplicationId == Model.UncompletedExhibitors[i].Id);
                            if (emailLog == null)
                            {
                                <span id="reminder-@Model.UncompletedExhibitors[i].Id.ToString()">@Html.Raw("Never")</span>
                            }
                            else
                            {
                                <span id="reminder-@Model.UncompletedExhibitors[i].Id.ToString()">@Html.Raw(emailLog.DateSent.ToShortDateString())</span>
                            }
                        }
                    </div>
                    <div class="ym-p-200 ym-gr centered">
                        @if (Model.Form.EmailId == null)
                        {
                            <a href="javascript:void(0)" class="reminder-email" onclick="alert('There is no email linked with this form.')"></a>
                        }
                        else
                        {
                            @Ajax.ActionLink(" ", "SendReminderEmail", new { FormId = Model.Form.Id, ExhibitorId = Model.UncompletedExhibitors[i].Id }, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "showNotification('The reminder email has been sent.', 'success'); updateLastRemindedDate('" + Model.UncompletedExhibitors[i].Id.ToString() + "');", OnFailure = "showNotification('The reminder email failed to send. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "reminder-email" })
                        }
                    </div>
                </div>
            }
        }
    }
    else //This is for standard forms
    {
        <p>There are @Model.CompletedExhibitors.Count exhibitors who have completed this form and @Model.UncompletedExhibitors.Count exhibitors who have not.</p>

        <div class="ym-grid top-row">
            <div class="ym-p-300 ym-gl">
                Exhibitors - Completed
                <br />@Html.TextBox("exhibitors")
            </div>
            <div class="ym-p-200 ym-gl">
                Date Viewed
                <br />@Html.TextBox("dateViewed", "", new { @class = "date-input" })
            </div>
            @Html.Action("ViewFormFieldDataHeaderRow", new { formId = Model.Form.Id })
        </div>
    
        if (Model.CompletedExhibitors.Count <= 0)
        {
            <div class="ym-grid no-row">There are no exhibitors.</div>
        }
        else
        {
            for (int i = 0; i < Model.CompletedExhibitors.Count; i++)
            {
                var className = i % 2 != 0 ? "alt-row" : "std-row";
                var dateCompleted = ((DateTime)Model.FormExhibitors.FirstOrDefault(x => x.ExhibitorApplicationId == Model.CompletedExhibitors[i].Id).DateCompleted).ToShortDateString();
                var exhibitorId = Model.CompletedExhibitors[i].Id.ToString();
                <div class="ym-grid @className">
                    <div class="ym-p-300 ym-gl">
                        <a href="javascript:void(0)" class="export-csv" id="@exhibitorId" onclick="toggleExportCsv('@exhibitorId')"></a>
                        @Html.ActionLink(!String.IsNullOrEmpty(Model.CompletedExhibitors[i].TradingName) ? Model.CompletedExhibitors[i].TradingName : Model.CompletedExhibitors[i].ExhibitorEmail, "Exhibitors", new { ForwardToExhibitor = true, ExhibitorId = Model.CompletedExhibitors[i].Id })
                    </div>
                    <div class="ym-p-200 ym-gl">
                        @dateCompleted
                    </div>
                    @Html.Action("ViewFormFieldData", new { formId = Model.Form.Id, exhibitorId = Model.CompletedExhibitors[i].Id })
                </div>
            }
        }
        
        <div class="ym-grid std-row">
            <div class="ym-p-300 ym-gl"></div>
        </div>
    
        <div class="ym-grid top-row">
            <div class="ym-p-300 ym-gl">
                Exhibitors - Not Completed
            </div>
            <div class="ym-p-200 ym-gl centered">
                Last Reminded
            </div>
            <div class="ym-p-200 ym-gr centered">
                Send Reminder
            </div>
        </div>

        if (Model.UncompletedExhibitors.Count <= 0)
        {
            <div class="ym-grid no-row">There are no uncompleted exhibitors.</div>
        }
        else
        {
            for (int i = 0; i < Model.UncompletedExhibitors.Count; i++)
            {
                var className = i % 2 != 0 ? "alt-row" : "std-row";
                <div class="ym-grid @className">
                    <div class="ym-p-300 ym-gl">
                        @Html.ActionLink(!String.IsNullOrEmpty(Model.UncompletedExhibitors[i].TradingName) ? Model.UncompletedExhibitors[i].TradingName : Model.UncompletedExhibitors[i].ExhibitorEmail, "Exhibitors", new { ForwardToExhibitor = true, ExhibitorId = Model.UncompletedExhibitors[i].Id })
                    </div>
                    <div class="ym-p-200 ym-gl centered">
                        @if (Model.Form.EmailId == null)
                        {
                            @Html.Raw("Never")
                        }
                        else
                        {
                            var emailLog = Model.EmailLogsForForm.FirstOrDefault(x => x.ExhibitorApplicationId == Model.UncompletedExhibitors[i].Id);
                            if (emailLog == null)
                            {
                                <span id="reminder-@Model.UncompletedExhibitors[i].Id.ToString()">@Html.Raw("Never")</span>
                            }
                            else
                            {
                                <span id="reminder-@Model.UncompletedExhibitors[i].Id.ToString()">@Html.Raw(emailLog.DateSent.ToShortDateString())</span>
                            }
                        }
                    </div>
                    <div class="ym-p-200 ym-gr centered">
                        @if (Model.Form.EmailId == null)
                        {
                            <a href="javascript:void(0)" class="reminder-email" onclick="alert('There is no email linked with this form.')"></a>
                        }
                        else
                        {
                            @Ajax.ActionLink(" ", "SendReminderEmail", new { FormId = Model.Form.Id, ExhibitorId = Model.UncompletedExhibitors[i].Id }, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "showNotification('The reminder email has been sent.', 'success'); updateLastRemindedDate('" + Model.UncompletedExhibitors[i].Id.ToString() + "');", OnFailure = "showNotification('The reminder email failed to send. Please try again.', 'error')", LoadingElementId = "waiting" }, new { @class = "reminder-email" })
                        }
                    </div>
                </div>
            }
        }
    }
}
</div>