﻿@model BTT.CaravanQLD.AppPortal.Models.ViewFormFieldDataModel

@{ 
    var formGridWidth = 550;
    if (Model.FormFields.Count == 0)
    {
        formGridWidth = 700;
    }
}

@foreach (var formField in Model.FormFields)
{
    if (formField.DataType == FormDataType.TextBox || formField.DataType == FormDataType.DropDown || formField.DataType == FormDataType.RadioButton || formField.DataType == FormDataType.Checkbox)
    {
        formGridWidth = formGridWidth + 200;
        <div class="ym-p-200 ym-gl">
            @formField.Name
            <br />@Html.TextBox(formField.Id.ToString())
        </div>
    }
    else if (formField.DataType == FormDataType.TextArea)
    {
        formGridWidth = formGridWidth + 400;
        <div class="ym-p-400 ym-gl">
            @formField.Name
            <br />@Html.TextBox(formField.Id.ToString())
        </div>
    }
    else if (formField.DataType == FormDataType.CheckboxArray || formField.DataType == FormDataType.TextArea)
    {
        formGridWidth = formGridWidth + 300;
        <div class="ym-p-300 ym-gl">
            @formField.Name
            <br />@Html.TextBox(formField.Id.ToString())
        </div>
    }
    else if (formField.DataType == FormDataType.FileAttachment)
    {
        formGridWidth = formGridWidth + 300;
        <div class="ym-p-300 ym-gl">
            @formField.Name
            <br />@Html.TextBox(formField.Id.ToString())
        </div>
    }
}

@Html.Hidden("formGridWidth", formGridWidth)