﻿@model BTT.CaravanQLD.AppPortal.Models.ViewFormFieldDataModel

@{ 
    //for testing
    //var server = String.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Host, Request.Url.Port == null ? "" : ":" + Request.Url.Port.ToString()); 
    var server = String.Format("{0}://{1}", Request.Url.Scheme, Request.Url.Host); 
}

@foreach (var formField in Model.FormFields)
{
    var formFieldValue = Model.FormFieldValues.FirstOrDefault(x => x.FormFieldId == formField.Id);
    var displayText = formFieldValue != null ? formFieldValue.Value : " ";
    if (formField.DataType == FormDataType.TextBox || formField.DataType == FormDataType.DropDown || formField.DataType == FormDataType.RadioButton || formField.DataType == FormDataType.Checkbox)
    {
        <div class="ym-p-200 ym-gl">
            @displayText
        </div>
    }
    else if (formField.DataType == FormDataType.TextArea)
    {
        <div class="ym-p-400 ym-gl">
            @displayText
        </div>
    }
    else if (formField.DataType == FormDataType.CheckboxArray || formField.DataType == FormDataType.TextArea)
    {
        <div class="ym-p-300 ym-gl">
            @displayText
        </div>
    }
    else if (formField.DataType == FormDataType.FileAttachment)
    {
        <div class="ym-p-300 ym-gl">
            <a href="@String.Format("{0}/Files/Exhibitors/{1}/{2}", server, Model.Exhibitor.ShowId, displayText)" target="_blank">@displayText</a>
        </div>
    }
}