﻿@model BTT.CaravanQLD.AppPortal.Models.NavigationModel
@{
    Layout = null;
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var pageName = HttpContext.Current.Request.RequestContext.RouteData.Values["page"];
}

<ul>
    @foreach (var page in Model.Pages)
    {
        if (pageName != null && (string)pageName == page.LinkName)
        {
            <li id="nav-@page.LinkName" class="selected"><a href="@Url.RouteUrl(new { action = "Page", page = page.LinkName })">@page.Name<span>»</span></a></li>
        }
        else
        {
            <li id="nav-@page.LinkName"><a href="@Url.RouteUrl(new { action = "Page", page = page.LinkName })">@page.Name<span>»</span></a></li>
        }
    }

    @if (Model.Exhibitor != null)
    {
        if (controllerName == "Exhibitor_Portal")
        {
            <li id="nav-exhibitor-portal" class="selected"><a href="@Url.Action("Index", "Exhibitor_Portal")">Exhibitor Forms<span>»</span></a></li>
        }
        else
        {
            <li id="nav-exhibitor-portal"><a href="@Url.Action("Index", "Exhibitor_Portal")">Exhibitor Forms<span>»</span></a></li>
        }
        
        if (controllerName == "Exhibitor_Profile")
        {
            <li id="nav-edit-profile" class="selected"><a href="@Url.Action("Edit", "Exhibitor_Profile")">Exhibitor Profile<span>»</span></a></li>
        }
        else
        {
            <li id="nav-edit-profile"><a href="@Url.Action("Edit", "Exhibitor_Profile")">Exhibitor Profile<span>»</span></a></li>
        }
    }
    
</ul>