﻿@model BTT.CaravanQLD.AppPortal.Models.ExhibitorPortalFormListModel

@if (Model.Page != null)
{
    @Html.Raw(Model.Page.TextContent)
}

<div id="exhibitor-form-list">
    @foreach (var formGroup in Model.FormGroups)
    {
        <div class="ym-grid form-group-row">
            <div class="ym-g75 ym-gl">
                @formGroup.Name
            </div>
            <div class="ym-g12 ym-gl centered">
                Due Date
            </div>
            <div class="ym-g12 ym-gr centered">
                Completed
            </div>
        </div>
        
        var forms = formGroup.Forms.OrderBy(x => x.Order).ToList();
        
        for (int i = 0; i < forms.Count; i++)
        {
            var className = i % 2 != 0 ? "alt-row" : "std-row";
            var formExhibitor = Model.Exhibitor.FormExhibitors.FirstOrDefault(x => x.FormId == forms[i].Id);
            var completedClass = formExhibitor == null ? "not-completed" : "completed";
            if (forms[i].Mandatory && forms[i].DueDate < DateTime.Now.AddDays(7) && formExhibitor == null)
            {
                className = className + " due-row";
            }
            
            <div class="ym-grid @className">
                <div class="ym-g75 ym-gl">
                    @Ajax.ActionLink(forms[i].Name, "ViewForm/" + forms[i].Id.ToString(), null, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitor-portal", OnSuccess = "hookUpForm" }, new { @class = "name-link" })
                </div>
                <div class="ym-g12 ym-gl centered">
                    @forms[i].DueDate.ToShortDateString()
                </div>
                <div class="ym-g12 ym-gr">
                    <div class="@completedClass"></div>
                </div>
            </div>
        }
    }
</div>