﻿@model BTT.CaravanQLD.AppPortal.Models.ViewFormModel

@{var formExhibitor = Model.Exhibitor.FormExhibitors.FirstOrDefault(x => x.FormId == Model.Form.Id);}
 
<p>
    @Ajax.ActionLink("Back to Exhibitor Forms", "ExhibitorPortalFormList", new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "exhibitor-portal" })
</p>   
@if (formExhibitor != null && formExhibitor.DateCompleted != null)
{
    if (Model.Form.Type == FormType.Content)
    {
        <p class="box info">This form was viewed on <b>@formExhibitor.DateCompleted.ToString()</b>. You can still view the contents of the form below.</p>
    }
    else
    {
        <p class="box info">This form was completed on <b>@formExhibitor.DateCompleted.ToString()</b>. If you need to make some changes to the form, you can make the changes and resubmit your form below.</p>
    }
}

@*<p id="validation-overview" class="box error" style="display:none">This form contains errors. Please fix them and</p>*@
@Html.ValidationSummary(true, "There are problems with your form.", new { @class = "box error" })

@Html.Raw(Model.Form.TextContent)

@if (Model.Form.Type == FormType.Content)
{
    @Ajax.ActionLink("I have viewed this form", "MarkContentFormAsViewed/" + Model.Form.Id.ToString(), null, new AjaxOptions() { UpdateTargetId = "exhibitor-portal", OnSuccess = "scrollToTop()" }, new { @class = "ym-button" })
}
else
{
    using (Ajax.BeginForm("ViewForm", "Exhibitor_Portal", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "exhibitor-portal", OnSuccess = "scrollToTop()" }, new { @class = "ym-form ym-columnar dynamic-form", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.Form.Id)
        
        for (int i = 0; i < Model.FormFields.Count; i++)
        {
            var requiredClass = Model.FormFields[i].Mandatory ? "required" : "";
            var formFieldValue = Model.FormFieldValues.FirstOrDefault(x => x.FormFieldId == Model.FormFields[i].Id);
            if (Model.FormFields[i].DataType == FormDataType.TextBox)
            {
                if (Model.FormFields[i].SpanTwoColumns)
                {
                    <div class="ym-fbox">
                        @Html.ValidationMessage(Model.FormFields[i].Id.ToString(), new { @class = "full-width-error" })
                        @Html.Label(Model.FormFields[i].Label, new { @class = "ym-full-width-label " + @requiredClass })
                        <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                            @Html.TextBox(Model.FormFields[i].Id.ToString(), formFieldValue.Value)
                        </div>
                    </div>
                }
                else
                {
                    <div class="ym-fbox">
                        @Html.ValidationMessage(Model.FormFields[i].Id.ToString())
                        @Html.Label(Model.FormFields[i].Label, new { @class = @requiredClass })
                        @Html.TextBox(Model.FormFields[i].Id.ToString(), formFieldValue.Value)
                    </div>
                }
            }
            else if (Model.FormFields[i].DataType == FormDataType.TextArea)
            {
                if (Model.FormFields[i].SpanTwoColumns)
                {
                    <div class="ym-fbox">
                        @Html.ValidationMessage(Model.FormFields[i].Id.ToString(), new { @class = "full-width-error" })
                        @Html.Label(Model.FormFields[i].Label, new { @class = "ym-full-width-label " + @requiredClass })
                        <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                            @Html.TextArea(Model.FormFields[i].Id.ToString(), formFieldValue.Value, new { rows = 5 })
                        </div>
                    </div>
                }
                else
                {
                    <div class="ym-fbox">
                        @Html.ValidationMessage(Model.FormFields[i].Id.ToString())
                        @Html.Label(Model.FormFields[i].Label, new { @class = @requiredClass })
                        @Html.TextArea(Model.FormFields[i].Id.ToString(), formFieldValue.Value, new { rows = 5 })
                    </div>
                }
            }
            else if (Model.FormFields[i].DataType == FormDataType.ContentSection)
            {
                <div class="ym-fbox">
                    @Html.Raw(Model.FormFields[i].TextContent)
                </div>
            }
            else if (Model.FormFields[i].DataType == FormDataType.DropDown)
            {
                var dropDownItems = Model.FormFields[i].FormFieldItems.OrderBy(x => x.Order).ToList().Select(x => new SelectListItem()
                {
                    Text = x.Text,
                    Value = x.Value,
                    Selected = formFieldValue.Value == x.Value
                }).ToList();
                
                dropDownItems.Insert(0, new SelectListItem()
                {
                    Text = "",
                    Value = ""
                });
            
                if (Model.FormFields[i].SpanTwoColumns)
                {
                    <div class="ym-fbox">
                        @Html.ValidationMessage(Model.FormFields[i].Id.ToString(), new { @class = "full-width-error" })
                        @Html.Label(Model.FormFields[i].Label, new { @class = "ym-full-width-label " + @requiredClass })
                        <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                            @Html.DropDownList(Model.FormFields[i].Id.ToString(), dropDownItems)
                        </div>
                    </div>
                }
                else
                {
                    <div class="ym-fbox">
                        @Html.ValidationMessage(Model.FormFields[i].Id.ToString())
                        @Html.Label(Model.FormFields[i].Label, new { @class = @requiredClass })
                        @Html.DropDownList(Model.FormFields[i].Id.ToString(), dropDownItems)
                    </div>
                }
            }
            else if (Model.FormFields[i].DataType == FormDataType.Checkbox)
            {
                <div class="ym-fbox checkbox-div">
                    @Html.ValidationMessage(Model.FormFields[i].Id.ToString(), new { @class = "full-width-error" })
                    @Html.Label(Model.FormFields[i].Label, new { @class = @requiredClass })
                    @*@Html.CheckBox(Model.FormFields[i].Id.ToString(), formFieldValue.Value == "True")*@
                    @{var isChecked = formFieldValue.Value == "True" ? "checked='checked'" : "";}
                    <input name="@Model.FormFields[i].Id.ToString()" type="checkbox" value="True" @isChecked />
                </div>
            }
            else if (Model.FormFields[i].DataType == FormDataType.CheckboxArray)
            {
                <div class="ym-fbox">
                    @Html.ValidationMessage(Model.FormFields[i].Id.ToString(), new { @class = "full-width-error" })
                    @Html.Label(Model.FormFields[i].Label, new { @class = "ym-full-width-label " + @requiredClass })
                </div>
            
                var formFieldItems = Model.FormFields[i].FormFieldItems.OrderBy(x => x.Order).ToList();
                var isEvenNum = formFieldItems.Count % 2 == 0;
                var halfFormFieldItemCount = isEvenNum ? formFieldItems.Count / 2 : (formFieldItems.Count + 1) / 2;

                for (int f = 0; f < halfFormFieldItemCount; f++)
                {
                    var firstItem = f;
                    var secondItem = f + halfFormFieldItemCount;
                    if (secondItem != formFieldItems.Count)
                    {
                        <div class="ym-fbox">
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                <div class="ym-g50 ym-gl">
                                    <div class="ym-gbox-left ym-fbox-check">
                                        @Html.Label(formFieldItems[firstItem].Text)
                                        @{var isChecked = formFieldValue.Value.Contains(String.Format("'{0}'", formFieldItems[firstItem].Value)) ? "checked='checked'" : "";}
                                        <input name="@formFieldItems[firstItem].Id.ToString()" type="checkbox" value="True" @isChecked />
                                    </div>
                                </div>

                                <div class="ym-g50 ym-gr">
                                    <div class="ym-gbox-right ym-fbox-check">
                                        @Html.Label(formFieldItems[secondItem].Text)
                                        @{isChecked = formFieldValue.Value.Contains(String.Format("'{0}'", formFieldItems[secondItem].Value)) ? "checked='checked'" : "";}
                                        <input name="@formFieldItems[secondItem].Id.ToString()" type="checkbox" value="True" @isChecked />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else 
                    {
                        <div class="ym-fbox">
                            <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                                <div class="ym-g50 ym-gl">
                                    <div class="ym-gbox-left ym-fbox-check">
                                        @Html.Label(formFieldItems[firstItem].Text)
                                        @{var isChecked = formFieldValue.Value.Contains(String.Format("'{0}'", formFieldItems[firstItem].Value)) ? "checked='checked'" : "";}
                                        <input name="@formFieldItems[firstItem].Id.ToString()" type="checkbox" value="True" @isChecked />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            else if (Model.FormFields[i].DataType == FormDataType.RadioButton)
            {
                if (Model.FormFields[i].SpanTwoColumns)
                {
                    <div class="ym-fbox">
                        <div class="ym-full-width-grid">
                            @Html.ValidationMessage(Model.FormFields[i].Id.ToString(), new { @class = "full-width-error" })
                            @Html.Label(Model.FormFields[i].Label, new { @class = "ym-full-width-label " + @requiredClass })
                        </div>

                        @{
                            var formFieldItems = Model.FormFields[i].FormFieldItems.OrderBy(x => x.Order).ToList();
                        }
                        <div class="ym-fbox-wrap ym-grid ym-full-width-grid">
                            @foreach (var f in formFieldItems)
                            {
                                <div class="ym-gbox-left ym-fbox-check radio-buttons">
                                    @Html.RadioButton(Model.FormFields[i].Id.ToString(), f.Value, formFieldValue.Value == f.Value)
                                    @Html.Label(f.Text)
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="ym-fbox">
                        @Html.ValidationMessage(Model.FormFields[i].Id.ToString())
                        @Html.Label(Model.FormFields[i].Label, new { @class = @requiredClass })

                        @{
                            var formFieldItems = Model.FormFields[i].FormFieldItems.OrderBy(x => x.Order).ToList();
                            var radioName = Guid.NewGuid().ToString();
                        }
                        <div class="ym-fbox-wrap">
                            @foreach (var f in formFieldItems)
                            {
                                <div class="ym-gbox-left ym-fbox-check radio-buttons">
                                    @Html.RadioButton(Model.FormFields[i].Id.ToString(), f.Value, formFieldValue.Value == f.Value)
                                    @Html.Label(f.Text)
                                </div>
                            }
                        </div>
                    </div>
                }
            }
            else if (Model.FormFields[i].DataType == FormDataType.FileAttachment)
            {
                if (Model.FormFields[i].SpanTwoColumns)
                {
                    <div class="ym-fbox form-file-upload">
                        @Html.ValidationMessage(Model.FormFields[i].Id.ToString(), new { @class = "full-width-error" })
                        @Html.Label(Model.FormFields[i].Label, new { @class = "ym-full-width-label " + @requiredClass })
                        @{
                            var fieldValue = String.IsNullOrEmpty(formFieldValue.Value) ? "" : formFieldValue.Value;
                            var fieldDisplay = String.IsNullOrEmpty(formFieldValue.Value) ? "Please upload your file" : formFieldValue.Value;
                            }
                        <div class="ym-fbox-wrap ym-grid ym-full-width-grid ym-full-width-text">
                            @Html.Hidden(Model.FormFields[i].Id.ToString(), fieldValue)
                            <div id="@Model.FormFields[i].Id.ToString()" class="form-file-upload-text">@fieldDisplay</div>
                            <a href="javascript:void(0)" class="ym-button ym-small upload-button" onclick="openFileUploaderForExhibitor('@Model.Exhibitor.ShowId','@Model.FormFields[i].Id.ToString()', '@Model.CurrentShow.LinkIdentifier')">Upload File</a>
                        </div>

                    </div>
    
                    @*<div class="ym-fbox">
                        <div class="ym-full-width-grid ym-fbox-text">
                            <input id="files" type="file" name="files" required="required" accept="text/csv" data-val-required="Please pick a file." data-val="true" />
                        </div>
                    </div>*@
                }
                else
                {
                    @*<div class="ym-fbox">
                        @Html.Label(Model.FormFields[i].Label, new { @class = @requiredClass })
                        <input id="files" type="file" name="files" required="required" accept="text/csv" data-val-required="Please pick a file." data-val="true" />
                    </div>*@
                    <div class="ym-fbox form-file-upload">
                        @Html.ValidationMessage(Model.FormFields[i].Id.ToString())
                        @Html.Label(Model.FormFields[i].Label, new { @class = @requiredClass })
                        @{
                            var fieldValue = String.IsNullOrEmpty(formFieldValue.Value) ? "" : formFieldValue.Value;
                            var fieldDisplay = String.IsNullOrEmpty(formFieldValue.Value) ? "Please upload your file" : formFieldValue.Value;
                            }
                        <div class="ym-fbox-wrap ym-grid">
                            @Html.Hidden(Model.FormFields[i].Id.ToString(), fieldValue)
                            <div id="@Model.FormFields[i].Id.ToString()" class="form-file-upload-text">@fieldDisplay</div>
                            <a href="javascript:void(0)" class="ym-button ym-small upload-button" onclick="openFileUploaderForExhibitor('@Model.Exhibitor.ShowId','@Model.FormFields[i].Id.ToString()', '@Model.CurrentShow.LinkIdentifier')">Upload File</a>
                        </div>
                    </div>
                }
            }
        }
        
        <div class="ym-fbox-footer ym-fbox-button">
            <input type="submit" value="Submit/Actioned" />
        </div>
    }
}


