﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<script type="text/javascript">
        if (/MSIE (\d+\.\d+);/.test(navigator.userAgent)) {
            var ieversion = new Number(RegExp.$1);
            if (ieversion <= 8) {
                window.location = "/old-browser-version.html";
            }
        }
    </script>*@
</head>
<body class="app-portal-body">
    <div id="app-portal-wrapper">
        <div id="shadow-top">
            @Html.Action("LoginBox", "Account")
        </div>
        <div id="shadow-middle">
            <div id="app-portal-header"></div>
            <div id="app-portal-content-wrapper">
                <div class="ym-grid">
                    <div id="app-portal-menu" class="ym-gl">
                        @Html.Action("Index", "Navigation")
                    </div>
                    <div id="app-portal-content" class="ym-gr">@RenderBody()</div>
                </div>
            </div>
        </div>
        <div id="shadow-bottom"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/noty")
    @Scripts.Render("~/bundles/applicationscripts")
    @RenderSection("scripts", required: false)
</body>
</html>
