﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>CQ Exhibitor Data Portal</title>
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="data-portal">
    <div id="data-portal-header">

    </div>

    <div id="data-portal-menu" class="ym-clearfix">
        <ul>
            <li><a href="@Url.Action("Exhibitors", "DataPortal")">Exhibitors</a></li>
            <li><a href="@Url.Action("Emails", "DataPortal")">Emails</a></li>
            <li><a href="@Url.Action("Forms", "DataPortal")">Forms</a></li>
            <li><a href="@Url.Action("Pages", "DataPortal")">Pages</a></li>
            <li><a href="@Url.Action("Imports", "DataPortal")">Imports</a></li>
            <li><a href="javascript:void(0)" onclick="openCKFinder()">File Uploads</a></li>
            <li><a href="@Url.Action("EmailSettings", "DataPortal")">Email Settings</a></li>
            <li><a href="@Url.Action("PortalSettings", "DataPortal")">Portal Settings</a></li>
            <li><a href="@Url.Action("Shows", "DataPortal")">Shows</a></li>
            <li><a href="@Url.Action("AdminLogout", "Account")">Logout</a></li>
        </ul>
    </div>
    
    <div id="data-portal-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/noty")
    @Scripts.Render("~/bundles/dataportalscripts")
    @RenderSection("scripts", required: false)
    <div id="waiting" style="display:none;"><div id="spinner"></div></div>
</body>
</html>
